/* ===========================
   Rashidam & Hasan Soner
   Premium Wedding Invitation
=========================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:#F8F6F2;

font-family:'Poppins',sans-serif;

color:#222;

overflow-x:hidden;

}

/* INTRO */

#intro{

position:fixed;

top:0;

left:0;

width:100%;

height:100vh;

background:#0F0F0F;

display:flex;

justify-content:center;

align-items:center;

z-index:9999;

transition:1s;

}

.intro-content{

text-align:center;

padding:30px;

}

.intro-content h3{

color:#C8A54B;

letter-spacing:6px;

font-size:14px;

font-weight:400;

margin-bottom:15px;

}

.intro-content h1{

font-family:'Cormorant Garamond',serif;

font-size:54px;

font-weight:600;

color:white;

}

.intro-content h2{

font-size:40px;

color:#C8A54B;

margin:10px 0;

}

#seal{

width:120px;

height:120px;

border-radius:50%;

margin:45px auto;

background:linear-gradient(135deg,#e3c46d,#a98225);

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

font-family:'Cormorant Garamond',serif;

font-weight:700;

color:white;

box-shadow:0 0 35px rgba(200,165,75,.45);

cursor:pointer;

transition:.4s;

}

#seal:hover{

transform:scale(1.05);

}

#openInvitation{

padding:16px 38px;

border:none;

background:#C8A54B;

color:white;

font-size:15px;

border-radius:40px;

cursor:pointer;

transition:.3s;

}

#openInvitation:hover{

background:#b18f3d;

}
.countdown{
    padding:80px 20px;
    text-align:center;
    background:#fff;
}

.countdown h2{
    font-size:34px;
    margin-bottom:40px;
    color:#b18f3d;
}

#countdown{
    display:flex;
    justify-content:center;
    gap:18px;
    flex-wrap:wrap;
}
